body {
    font-family: Kanit, sans-serif;
    background-color: #efefef;
    margin: 0;
    padding: 20px;
}

body h1 {
    font-size: 30px;
    font-weight: 900;
    color: #df2070;
}

body h2 {
    font-size: 22px;       
}

body h3 {
    font-size: 15px;
}

/* header { */
    /* position: relative; */
    /* width: 2000px; */
    /* height: 200px; */
    /* background-color: #df2070; */
    /* background-image: image(); */
/* } */

.header {
    position: relative;
    width: 2000px;
    height: 70px;
    background-color: #df2070;
}

.header h1{
    font-size: 30px;
    font-weight: 900;
    color: white;
}

.header h2{
    font-size: 30px;
    font-weight: 900;
    color: black;
}




.login-container {
    font-size: 20px;
}

.login-container button {
    background-color: #1b3259;
    padding: 15px;
    border-radius: 15px;
    font-weight: normal;
    margin: 0 auto;
    font-size: 16px;
    color: white;   
}
 
.logout-container {
    font-size: 20px;
}

.logout-container-button {
    background-color: #e13f12;
    padding: 15px;
    border-radius: 15px;
    font-weight: normal;
    margin: 0 auto;
    font-size: 16px;
    color: white;   
}

.booking-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

.booking-column {
    min-width: 250px;
    background-color: grey;
    border-radius: 8px;
    padding: 10px;
    flex: 1;
}

.booking-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 15px;
}
 
.booking-card h3 {
    margin-top: 2px 0;
    font-size: 24px;
    color: navy    
}
 
.booking-card p {
    margin: 3px 0;
    font-size: 16px;
}
 
.booking-detail {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
 
.booking-detail h1 {
    font-size: 24px;  
}
 
.booking-detail p {
    font-size: 18px;
}

.booking-in-progress {
    background-color: peachpuff;
}

.booking-done {
    background-color: lightblue;
}





















