{% load static %}

<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tilavaraus{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tilavaraus/style.css' %}"> 
</head>


<div class="header">
    <h1>Raseko goes virtual!</h1> 
    <img src="{% static 'tilavaraus/images/logo_pinkki_vaaka.png'  %}" alt="Rasekon logo">

</div>


<body>
    <div>
         <h1> 
            TilavarausjärjestelmäTÄMÄ TEKSTI ON BASESSA
        </h1>
        <nav>

            {% if user.is_authenticated %}
                <span>BASENTervetuloa, {{ user.username }}!</span> 
                <br>
                <br>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}                 
                    <button class="logout-container-button" type="submit">BASEKirjaudu ulos TOIMIVA</button>                   
                </form>                       
            {% else %}
                <span>BASENTervemenoaEINÄYMISSÄÄN, {{ user.username }}!</span>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <button type="submit">BASEKirjaudu sisään</button>
                </form>                                     
            {% endif %}          
        </nav>
   

    
 
        {% block content %}
        <!-- Sivukohtainen sisältö tähän -->
        {% endblock %}


    <footer>
        <p>&copy; 2025 Oma Organisaatio</p>
    </footer>
    </div>
</body>
</html>