<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Varauslista</title>    
</head>
<body>
    <h1>Varauslista</h1>
    <ul>
        {% for reservation in reservations %}
            <li>
                {{ reservation.title }} - 
                {% if reservation.completed %} 
                    Valmis
                {% else %}
                    Ei ole valmis
                {% endif %}
            
            </li>
        {% endfor %}
    </ul>
</body>
</html>