{% extends "tilavaraus/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="fi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Varaaminen{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'tilavaraus/css/style.css' %}"> 
    </head>

    {% block content %}

    <body>
        
        <div class="new-reservation">

            <h1>Tee uusi varaus</h1>

            <form method="POST" class="booking-form">
                {% csrf_token %}             
               
                <p class="form-group">
                    {{ form.room.label }}:<br>
                    {{ form.room }}
                </p>
                <br>
                <p class="form-group">
                    {{ form.date.label }}:<br>
                    {{ form.date }}
                </p>
                <br>
                <p class="form-group">
                    {{ form.begins.label }}:<br>
                    {{ form.begins }}
                </p>
                <br>
                <p class="form-group">
                    {{ form.ends.label }}:<br>
                    {{ form.ends }}
                </p> 
                <br>
                <div class="login-container button">          
                    <button type="submit">Tallenna</button>
                </div> 

            </form>

            {% if form.non_field_errors %}
                <div class="error">                              
                    {{ form.non_field_errors }}                    
                </div>
            {% endif %}

                                 
            <a href="{% url 'new_reservation' %}">Palaa etusivulle </a>

        </div>  

    </body>

    {% endblock %}
    
</html> 
 
 
 