<body>
    <div class="new-reservation">

        <h1>Tee uusi varaus</h1>

       <form method="POST" class="booking-form">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <!--  tämä antaaa saman kuin alalitania mutta mukana muös person id-->
            <p class="form-group">
                {{ form.room.label }}:<br>
                {{ form.room }}
            </p>
        
            <p class="form-group">
                {{ form.date.label }}:<br>
                {{ form.date }}
            </p>
        
            <p class="form-group">
                {{ form.begins.label }}:<br>
                {{ form.begins }}
            </p>
        
            <p class="form-group">
                {{ form.ends.label }}:<br>
                {{ form.ends }}
            </p> 
     
            <div class="login-container button">          
            <button type="submit">Tallenna</button>
            </div> 

        </form>
       
        <a href="{% url 'new_reservation' %}">Palaa etusivulle </a>
    </div>   

</body>