{% extends "tilavaraus/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="'fi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Reservations{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'tilavaraus/css/style.css' %}"> 
    </head>
 
    {% block content %}
    
    <body> 

       
        <div class="page-container">
            <div class="content-wrap">
        
     
        
                <h1>Etusivu Reservations</h1>
                <h2>Tervetuloa Rasekon virtuaalitilojen varausjärjestelmään</h2>

                <p>Rasekon virtuaalihuoneessa voit uppoutua virtuaalitodellisuuteen tilan omien virtuaalielementtien avulla. <br>
                    Et tarvitse epämukavia virtuaalilaseja, sillä ympäristö on luotu tilan seinille. 
                    Voit keskittyä olemaan läsnä virtuaalisessa maailmassa ja tuntea olevasi osa kokemusta, 
                    joka vie mukanaan.
                </p>

                <p>Tällä hetkellä käytössä on yksi virtuaalitila. Se sijaitsee osoitteessa Eeronkuja 3 B, 21200 Raisio  ja
                    löytyy pääovien läheisestä aulatilasta.
                </p>

                <a href="{% url 'create_booking' %}">Varaa tila</a>
                
                <p>Tila on Rasekon opiskelijoiden ja henkilökunnan varattavissa toimipisteen normaaleina aukioloaikoina. <br> 
                    <br>
                    
                    Tilassa noudatetaan koulun sääntöjä.</p>
             
                <a href="https://www.raseko.fi/opiskelijan-opas/jarjestyssaanto/">Rasekon järjestyssääntö</a>
             
             
             
             
             
             
             
             
             
             
             
            </div>                                                                     
        </div>
    </body>

    {% endblock %}

</html>