{% extends "tilavaraus/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="'fi">

 
{% block title %}TilavarausjärjestelmäBookingList{% endblock %}
 
{% block content %}
    
<body> 
    
   <h1>tämä on reservationiin luotua sisältöä. Tarkista mikä sisältö kuuluu etusivulle ja mikä tänne</h1>            
    
    <h1>Varauskalenteri Reservations</h1>

    <a href="{% url 'create_booking' %}">Luo uusi varaus</a>

    <ul>
        {% for booking in reservations %}
        <li>
            <strong>{{ booking.date }}</strong>  
            {{ booking.begins }} - {{ booking.ends }}
            ({{ user.email }})  
            – Varaaja: {{ booking.username }} 
            <!-- TODO: Varaaja täytyy tarkistaa, onko username sana oikea tässä -->
        </li>
    {% empty %}
        <li>Ei varauksia.</li>
    {% endfor %}
</ul>
    
   
    
    
    
    
    
    
    
    </div>

   
   
   
  <!-- TODO:TÄSTÄ ALKAEN SIIVOTTAVAA:  -->
 
           
    <h2>Varattavat tilat</h2>
    <p>Varaa kalenterista haluamasi päivä ja kellonaika</p>

    <!-- Kalenterin paikka -->
    <div id="calendar-container" style="margin-top: 30px;">
        <p><em>Kalenteri latautuu tähän...</em></p>
    </div>

    <!-- Esimerkkipainike -->
    <div style="margin-top: 20px;">
        <button class="btn">Tee varaus</button>
    </div>

    <div class="booking-container">
        {% for space_class, rooms in rooms_by_class.items %}
            <div class="booking-column border p-3">
                <h3>{{ space.room }}</h3>
                
                                                                              
        {% endfor %}
    </div>

</body>
{% endblock %}
</html>


<!-- Tähän booking_listista poistetut -->
<h2>Varattavat tilat</h2>
<div class="booking-container">
    {% for space_class, rooms in rooms_by_class.items %}
        <div class="booking-column border p-3">
            <h3>{{ space.room }}</h3>
            
                                                                                  
    {% endfor %}
</div>