{% extends "tilavaraus/base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="'fi">

 
{% block title %}TilavarausjärjestelmäBookingList{% endblock %}
 
{% block content %}
    

<body> 
    
   <h1>tämä on reservationiin luotua sisältöä</h1>            
    </div>

    <div class="login-container">
   
    <form method="post">     
        <a href="reservations.html">
        <div class="login-container button"> 
        <button type="submit">KOPIOITU LOGINISTAKirjauduULOS MUOTOILU OK MUTTA EI TOIMI RESERVATIONSISSA</button></a>
         </div>
    </form>
    
</div>
</body>
   
   
   
   
 
           
    <h2>Varattavat tilat</h2>
    <p>Varaa kalenterista haluamasi päivä ja kellonaika</p>

    <!-- Kalenterin paikka -->
    <div id="calendar-container" style="margin-top: 30px;">
        <p><em>Kalenteri latautuu tähän...</em></p>
    </div>

    <!-- Esimerkkipainike -->
    <div style="margin-top: 20px;">
        <button class="btn">Tee varaus</button>
    </div>

    <div class="booking-container">
        {% for space_class, rooms in rooms_by_class.items %}
            <div class="booking-column border p-3">
                <h3>{{ space.room }}</h3>
                
                                                                              
        {% endfor %}
    </div>

{% endblock %}

</html>