:root {
    --icon-stroke-width: 1px;
    --icon-stroke-color: black;
    --icon-fill-color: none;
    --icon-background-color: none;
    --color-raseko-blue: rgb(27, 51, 89);
    --color-raseko-turquoise-dark: rgb(0, 150, 179);
    --color-raseko-tuorquoise-light: rgba(75, 188, 197, 0.8);
    --color-raseko-pink: rgb(232, 32, 112);
    --color-raseko-pink-lighter: rgba(232, 32, 112, 0.8);
    --color-raseko-pink-light: rgba(232, 32, 112, 0.6);
    --color-raseko-pink-verylight: rgba(232, 32, 112, 0.4);
    --color-raseko-grey: rgb(239, 239, 239);
    --color-info-box-bg: rgb(199, 221, 36);
    --shadow-raseko-pink:  rgb(232, 32, 112, 0.4);
    --shadow-raseko-blue:  rgb(27, 51, 89, 0.4);
    --color-raseko-highlighter:rgba(75, 188, 197, 0.3);
}

/* --- Perustyylit body ja tekstit --- */
body {
    height: 100%;
    font-family: Kanit, Arial, Helvetica, sans-serif;
    background-color: #efefef;
    margin: 0;
    padding: 20px; 
}

/* body h1 { */
    /* font-size: 30px; */
    /* font-weight: 900; */
    /* color: #df2070; */
/* } */
/*  */
/* body h2 { */
    /* font-size: 22px;        */
/* } */
/*  */
/* body h3 { */
    /* font-size: 15px; */
/* } */

/* --- Huone-esittelyn tyyli --- */
.container-rooms {
    width: 25%;
    height: fit-content;
    /* margin: auto; */
    /* overflow: auto; */
    /* padding: 20px; */
    background-color: var(--color-raseko-tuorquoise-light);
    align-self: left;
    text-align: center;
   
}

/* ---Footerin sitomiseen?--- */
/* Sivun korkeus täyteen */
html, body {
    height: 100%;
    margin: 0;
}








/* Kokosivu flexiksi */
.page-container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* Varsinainen sisältö vie kaiken tilan footerin yläpuolelta */
.content-wrap {
    flex: 1;
}

/* --- Alatunnisteen tyyli --- */
footer {
    font-size: small;
    padding: 15px 0; 
    position: absolute;
    left: 0;
    bottom: 0;
}

/* --- Yläbannerin tyylit --- */

.top-banner {
    background-color: white;   /* voit vaihtaa värin */
    padding: 15px 25px;
    color: #df2070;
}

.banner-inner {
    display: flex;
    align-items: center;
    gap: 20px;
    /* flex-direction: row; */
}

.banner-logo {
    height: 60px;  /* säädä kuvan koko */
    width: auto;
    /* margin-right: 20px; */
    /* flex-shrink: 0; estää logon kutistumisen */
}

.banner-text h1 {
    margin: 0;
    font-size: 26px;
}

.banner-text p {
    margin: 0;
    /* font-size: 18px; */
    opacity: 0.8;
}


/* --- Navigaatiopalkki --- */

.navbar {
    background-color: #2f3e4f;
    padding: 10px 20px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}

/* responsiivisuus */

@media (max-width: 600px) {
    .banner-inner {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .banner-logo {
        height: 45px;
    }

    .navbar ul {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}

/* --- sisäänkirjautumisen tyylit --- */
.login-container {
    font-size: 20px;
}

.login-container button {
    background-color: #1b3259;
    padding: 15px;
    border-radius: 15px;
    font-weight: normal;
    margin: 0 auto;
    font-size: 16px;
    color: white;   
}
 
/* --- uloskirjautumisen tyylit --- */
.logout-container {
    font-size: 20px;
}

.logout-container-button {
    background-color: #e13f12;
    padding: 15px;
    border-radius: 15px;
    font-weight: normal;
    margin: 0 auto;
    font-size: 16px;
    color: white;   
}

/* --- varauksen tekeminen --- */
.booking-form {
    color: #df2070;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
}

.form-group {
    margin-bottom: 1rem;
}

.booking-form input,
.booking-form select,
.booking-form textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.booking-form label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
}


.booking-column {
    min-width: 250px;
    background-color: grey;
    border-radius: 8px;
    padding: 10px;
    flex: 1;
}

.booking-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 15px;
}
 
.booking-card h3 {
    margin-top: 2px 0;
    font-size: 24px;
    color: navy    
}
 
.booking-card p {
    margin: 3px 0;
    font-size: 16px;
}
 
.booking-detail {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
 
.booking-detail h1 {
    font-size: 24px;  
}
 
.booking-detail p {
    font-size: 18px;
}

.booking-in-progress {
    background-color: peachpuff;
}

.booking-done {
    background-color: lightblue;
}





















